.*.swp
*.o
*.bin
*.vec
*.bc
.DS_Store
data
# fasttext
result
website/node_modules/
package-lock.json
node_modules/
dist
/*.wasm
/*.js
# emsdk
webassembly/doc/examples/fasttext_wasm.js
webassembly/doc/examples/fasttext_wasm.wasm
webassembly/fasttext_wasm.js
webassembly/fasttext_wasm.wasm
